<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Jimmy Nguyen</title>
  <link rel="stylesheet" href="../../css/main.css">

<body>
  <header class="site-header" role="banner">
    <div class="wrapper">
      <div class="site-title">Jimmy Nguyen</div>
      <nav class="site-nav">
        <div class="trigger">
          <a class="page-link" href="index.html">Homepage</a>
          <a class="page-link" href="projects.html">Projects</a>
          <a class="page-link" href="cad-designs.html">CAD Designs</a>
          <a class="page-link" href="contact.html">Contact</a>
        </div>
      </nav>
    </div>
  </header>

  <main class="page-content" aria-label="Content">
    <div class="wrapper">
      <header class="post-header">
        <h1 class="post-title">TEMPLATE</h1>
      </header>

      <div class="post-content">
        GALLERY HERE?
        <p><br>
          Description:
        </p>
      </div>
    </div>
  </main>

  <footer class="site-footer h-card">
    <div class="footer-text">© 2021 </div>
  </footer>
</body>

</html>